.card.mx-auto.p-4.border-4.border-light{style: "width:700px; margin-bottom:50px; border-radius:16px;"}
  %h3.text-center Send #{@message_type.capitalize}
  = form_with model: @communication, url: dispute_analysts_communications_path, method: :post do |form|
    = form.label :subject
    = form.text_field :subject, class: 'form-control'
    %br/
    = form.label :message
    = form.text_area :message, class: 'form-control'

    = form.hidden_field :from_id, value: current_dispute_analyst.id
    = form.hidden_field :to_id, value: @case.assigned_to_id
    = form.hidden_field :case_id, value: @case.id
    = form.hidden_field :message_type, value: params[:message_type]
    %br/
    .text-center{style:"width:20%; margin-left:40%"}
      = form.submit "Send", class: 'form-control btn btn-warning'
