.card.mx-auto.p-5.border-4.border-light{style: "width:700px;"}
  %h2.card-header.display-6
    = @case.case_number
  .card-body
    %h3.card-title
      = @case.title
    %p.card-text{style: "font-size:18px"}
      = @case.description
    %hr
    %ul.list-unstyled.display-6{style: "font-size:16px"}
      %li 
        %strong.d-inline Status:
        #{@case.status}
      - if @case.status == 'Resolved'
        %li
          %strong Resolved by:
          #{@case.resolved_by.first_name} #{@case.resolved_by.last_name}
      %li
        %strong Created by:
        #{@case.user.first_name} #{@case.user.last_name}
      %li
        %strong Assigned to:
        - if @case.assigned_to_id.nil?
          Unassigned
        - else
          #{@case.assigned_to.first_name} #{@case.assigned_to.last_name}
      %li
        %strong Created at:
        #{@case.created_at.strftime("%B %d %Y, %l:%M%P")}
      - if @case.status == 'Resolved'
        %li
          %strong Resolved at:
          #{@case.updated_at.strftime("%B %d %Y, %l:%M%P")}
      -else
        %li
          %strong Updated at:
          #{@case.updated_at.strftime("%B %d %Y, %l:%M%P")}
    %hr
    = link_to 'Back', :back, class: "btn btn-secondary me-2"
    - if @case.status == 'Closed'
      .btn.btn-primary.disabled Edit
    - else
      %a.btn.btn-primary{href: edit_dispute_analysts_case_path(@case)} Edit
