.container-fluid.row
  .col-md-8.offset-md-1.mx-auto.case-card.shadow-sm
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .cls{:style => "color: red;"}
        = render "devise/shared/error_messages", resource: resource
      %h2 Edit #{resource_name.to_s.humanize}
      %hr
      %br/

      .row
        .col-md-6
          .field.form-group
            = f.label :first_name
            = f.text_field :first_name, class: "form-control"
          %br/
        .col-md-6
          .field.form-group
            = f.label :last_name
            = f.text_field :last_name, class: "form-control"
          %br/

      .row
        .col-md-4
          .field.form-group
            = f.label :age
            = f.number_field :age, class: "form-control"
          %br/
        .col-md-4
          .field.form-group
            = f.label :date_of_birth
            = f.date_field :date_of_birth, class: "form-control"
          %br/
        .col-md-4
          .field.form-group
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
          %br/

      %hr
      %i Leave below fields blank if you dont want to change your password
      %br
      %br
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}

      .row
        .col-md-6
          .field.form-group
            = f.label :password
            = f.password_field :password, autocomplete: "new-password", class: "form-control"
            - if @minimum_password_length
              %em
                = @minimum_password_length
                characters minimum
          %br/
        .col-md-6
          .field.form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
          %br/

      .row
        .col-md-6
          .field.form-group
            = f.label :current_password
            = f.password_field :current_password, autocomplete: "current-password", class: "form-control"
          %br/

      .text-center
        = f.submit "Update", class:"form-control btn btn-primary", style: "width: 40%;"
      %br/
      %hr
      %h3 Cancel my account
      Unhappy? #{button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-outline-danger', data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete}
%br
%br
