%body{:style => "background-image: url(#{asset_path 'blog.jpg'}); background-size: cover;"}
.card.mx-auto.p-5.mb-5.border-4.border-light{:style => "width: 500px; background-color: rgba(255, 255, 255, 0.75);"}
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .cls{:style => "color: red;"}
      = render "devise/shared/error_messages", resource: resource
    %h2 Sign up
    %br/
    .field.form-group
      = f.label :first_name
      = f.text_field :first_name, class: "form-control"
      %br/
    .field.form-group
      = f.label :last_name
      = f.text_field :last_name, class: "form-control"
      %br/
    .field.form-group
      = f.label :age
      = f.number_field :age, class: "form-control"
      %br/
    .field.form-group
      = f.label :date_of_birth
      = f.date_field :date_of_birth, class: "form-control"
      %br/
    .field.form-group
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      %br/
    .field.form-group
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autocomplete: "new-password", class: "form-control"
      %br/
    .field.form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
      %br/
      %br/
    .actions.form-group
      = f.submit "Sign up", class:"form-control btn btn-secondary border-dark"
  %br/
  = render "devise/shared/links"
  = link_to "Cancel" ,root_path
