.card.border-4.border-light.text-center.position-absolute.top-50.start-50.translate-middle.p-5.text-center{:style => "background-color: rgba(255, 255, 255, 0.8); #{@user_signed_in ? 'margin-left: 8%;' : ''}"}
  .display-2.m-2
    Welcome
    - if @user_signed_in
      , #{@current_user.first_name.capitalize}!
    - else
      = link_to "Dispute Analyst Login", new_dispute_analyst_session_path, :class => "btn btn-secondary d-block m-4"
      = link_to "Case Manager Login", new_case_manager_session_path, :class => "btn btn-secondary d-block m-4"
      = link_to "Register", new_case_manager_registration_path, :class => "btn btn-primary d-block m-4"