.card.mx-auto.p-5.mb-5.border-4.border-light{:style => "width:600px; background-color: rgba(255, 255, 255, 0.8);"}
  %h2.text-center Update Case
  %br
  = form_with model: @case, url: "/case_managers/cases/#{@case.id}", method: :put do |form|

    .field.form-group
      = form.label :title
      = form.text_field :title, class: "form-control"
    %br/

    .field.form-group
      = form.label :description
      = form.text_area :description, class: "form-control"
    %br/

    .field.form-group
      = form.label :assign_to
      = form.select(:assigned_to_id,[['Unassigned', nil]] + @users.collect {|u| [ "#{u.first_name} #{u.last_name}", u.id ] }, {}, {class: "form-select"})
    %br/

    .field.form-group
      = form.label :status
      = form.select(:status, [['Select',"#{@case.status}"], ['Open','open'], ['Closed','closed']], {}, {class: "form-select"})
    %br/

    = form.submit "Update", class: 'form-control btn btn-success'
