= stylesheet_link_tag('paginator.css')

.container-fluid
  .row
    .col-md-10.offset-md-1.mx-auto
      %div.p-4{:style => "background-color: rgba(255, 255, 255, 0.5); border-radius:10px; overflow-x: auto;"}
        .display-6 Cases
        %hr.border-2
        = form_for :filter, url: case_managers_cases_path, method: :get do |form|
          = form.label :status
          = form.select(:status, [['All', ''], ['Open','open'], ['In progress','in_progress'], ['Resolved','resolved'], ['Closed','closed']], {}, {class: "form-select d-inline me-4", style: "width:134px;"})
          = form.label :case_number
          = form.text_field :case_number, class: "form-control d-inline me-4", style: "width:200px;"
          = form.button(type: 'submit', class: 'btn btn-success') do
            %i.fa.fa-filter
            Filter

        %div{style:"margin:20px;"}
        %table.table.table-responsive.table-bordered.rounded-3.overflow-hidden
          %thead.table-dark
            %th= link_to 'Case no', sort: "case_number"
            %th= link_to 'Title', sort: 'title'
            %th= link_to 'Reported By', sort: 'first_name'
            %th= link_to 'Assigned To', sort: 'assigned_to'
            %th= link_to 'Status', sort: 'status'
            %th= link_to 'Created At', sort: 'created_at'
            %th= link_to 'Updated At', sort: 'updated_at'
          %tbody
            - @cases.each do |c|
              %tr
                %td
                  %a{:href => case_managers_case_path(c)}
                    = c.case_number
                %td= c.title
                %td= "#{c.user.first_name} #{c.user.last_name}"
                %td
                  - if c.assigned_to_id.nil?
                    Not assigned
                  - else
                    = "#{c.assigned_to.first_name} #{c.assigned_to.last_name}"
                %td
                  - if c.status == 'in_progress'
                    .text-warning
                      = c.status
                  - elsif c.status == 'resolved'
                    .text-success
                      = c.status
                  - elsif c.status == 'open'
                    .text-danger
                      = c.status
                  - else
                    .text-secondary
                      = c.status
                %td= c.created_at.strftime("%B %d %Y, %l:%M%P")
                %td= c.updated_at.strftime("%B %d %Y, %l:%M%P")
%br
%div.pagination-container
  .digg_pagination
    = will_paginate @cases, :container => false
