.case-card.mx-auto.shadow{style: 'width: 700px;'}
  .text-danger
    - if @case.errors.any?
      %h4 #{@case.errors.count} errors prohibited this case from being saved:
      %ul
      - @case.errors.full_messages.each do |message|
        %li= message
      %br

  %h2 Create Case
  %hr.mb-5
  = form_with model: @case do |form|
    .field.form-group
      = form.label :title
      = form.text_field :title, class: "form-control"
      %br/
    .field.form-group.mb-2
      = form.label :description
      = form.text_area :description, class: "form-control"
      %br/
    = form.hidden_field :status, value: 'open'
    = form.hidden_field :user_id, value: current_case_manager.id
    = form.submit "Create Case", class: 'form-control btn btn-primary'
%br
%br
