.card.mx-auto.p-5.mb-5.border-4.border-light{:style => "width: 500px; background-color: rgba(255, 255, 255, 0.75);"}
  %h2.text-center Update Avatar
  %br
  - if current_user.avatar.attached?
    = image_tag (current_user.avatar), :style => "display:inline-block; width:170px; height:170px; object-fit:cover; margin-left:116px; border-radius:10%"
  - else
    %span.material-symbols-outlined.dropdown{:style=>"font-size:140px; left:4px; top:2px; color:gray; margin-left:125px;"} account_circle
  .text-center.text-danger
    - if flash[:error]
      %ul
      - flash[:error].each do |e|
        %li= e
  %br
  = form_with model: @user, url: update_avatar_path, method: :put do |form|
    = form.file_field :avatar, class: 'form-control'
    %br/
    = form.submit "Update", class: 'form-control btn btn-primary'
  %br/
  = button_to 'Delete avatar', {:controller => "avatars", :action => "destroy"}, class:'btn btn-danger', method: :delete, style: 'margin-left:132px'
