!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    -# Google Fonts
    %link{:href => "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200", :rel => "stylesheet"}/

    -# Font Awesome
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css", rel: "stylesheet"}/

  %body
    - if user_signed_in?
      = render "shared/sidebar"
    = render "shared/navbar"

    .alert-notice-wrapper{class: (user_signed_in? ? "main-content" : "")}
      %p.notice.text-center= notice
      %p.alert.text-center= alert
    .div{class: (user_signed_in? ? "main-content" : "")}
      = yield
